@page "/Account/ForgotPassword"

<div class="elite-shell">
    <div style="display:flex; justify-content:center; margin-top:70px;">
        <div class="elite-login-card">

            <div class="elite-login-title">
                Elfelejtett jelszó
            </div>

            <form method="post" action="/account/forgot-password">
                <AntiforgeryToken />

                <div class="mb-3">
                    <input class="elite-input elite-login-input"
                           placeholder="Email cím"
                           name="Email" />
                </div>

                <div style="display:flex; justify-content:center;">
                    <button type="submit"
                            class="elite-btn elite-btn--green elite-login-btn">
                        Jelszó visszaállítás
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>